@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/* //SideBarLoading */
#SideBarLoading {
  position: relative;
  width: 15.7px;
  height: 15.7px;
  rotate: -90deg;
}

#SideBarLoading div {
  width: 100%;
  height: 100%;
  background-color: rgb(214, 17, 40);
  border-radius: 50%;
  margin-bottom: 5px;
  animation: spinner-4t3wzl 1.25s infinite backwards;
}

#SideBarLoading div:nth-child(1) {
  animation-delay: 0.15s;
  background-color: rgba(214, 17, 40, 0.9);
}

#SideBarLoading div:nth-child(2) {
  animation-delay: 0.3s;
  background-color: rgba(214, 17, 40, 0.8);
}

#SideBarLoading div:nth-child(3) {
  animation-delay: 0.45s;
  background-color: rgba(214, 17, 40, 0.7);
}

#SideBarLoading div:nth-child(4) {
  animation-delay: 0.6s;
  background-color: rgba(214, 17, 40, 0.6);
}

#SideBarLoading div:nth-child(5) {
  animation-delay: 0.75s;
  background-color: rgba(214, 17, 40, 0.5);
}

@keyframes spinner-4t3wzl {
  0% {
    transform: rotate(0deg) translateY(-200%);
  }

  60%,
  100% {
    transform: rotate(360deg) translateY(-200%);
  }
}